.vscode/*
code/sam_outputs.pt
code/adversarial_patch_adv.pt

# Python cache
code/__pycache__/

.gitmodules
# macOS system files
.DS_Store
code/64x64/*

/anmeldung-individualprohekt-moritz.pdf
/meeting_19-01-26.pdf
