code/GTSRB/Meta
code/weights_wideresnet/*
code/weights_resnet-18/*
weights_vit/*
.idea/*
code/64x64/*
code/phys_imgs/*
code/GTSRB/*

# Python cache
code/__pycache__/

.gitmodules
# macOS system files
.DS_Store